<nav class="box-border bg-gray-200 h-20 px-8 flex items-center w-100 justify-between text-2xl">
    <li class="list-none"><a class="border-b-2 hover:border-black" href="index.html">Home</a></li>
    <div class="flex items-center h-full justify-between">
        <li class="px-5 list-none"><a class="border-b-2 hover:border-black transition-all duration-200" href="men.html">Men</a></li>
        <li class="px-5 list-none"><a class="border-b-2 hover:border-black" href="women.html">Women</a></li>
    </div>
    <li class="list-none">
        <a href="cart.html">
            <svg  xmlns="http://www.w3.org/2000/svg" width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  
            stroke-linecap="round"  stroke-linejoin="round"  
            class="icon icon-tabler icons-tabler-outline icon-tabler-shopping-cart">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                <path d="M17 17h-11v-14h-2" />
                <path d="M6 5l14 1l-1 7h-13" />
            </svg>
        </a>
    </li>
</nav>